* {
    border: 0.5px solid;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li {
    flex-flow: row wrap;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        background-color: yellowgreen;
        grid-column-gap: 6px;
        grid-row-gap:6px;
    }

    article {
        min-height: 20vw;
    }
}