* {
    border: 0.5px solid;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li {
    flex-flow: row wrap;
}

a {
    text-decoration: none;
}

@media all and (max-width: 500px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        background-color: rgb(50, 148, 205);
    }
    article {
        min-height: 50vw;
    }
}

@media all and (min-width: 501px) and (max-width: 1025px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        background-color: yellowgreen;
    }
    article {
        min-height: 25vw;
    }
}

@media all and (min-width: 1026px) {
    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        background-color: rgb(205, 182, 50);
    }
    article {
        min-height: 12.5vw;
    }
}